
<!doctype html>
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<script>
		  (adsbygoogle = window.adsbygoogle || []).push({
		    google_ad_client: "ca-pub-4483317195565554",
		    enable_page_level_ads: true
		  });
		</script>
		<meta name="google-site-verification" content="FoVGf00lz_-g11xTwUd9eRFwjEFcyTXbCpxs56ef-bE" />
		
		<title>{{data.title}}</title>
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
			<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

		{% if data.seo.ico %}
			<link rel="icon" href={{ url_for('static', filename=data.seo.ico) }} type="image/x-icon" >
		{% endif %} 

			<meta name="twitter:card" content="summary_large_image">

		{% if data.news %}
			{% if data.news.img %}
				<meta name="twitter:image" content="{{data.news.img}}">
			{% endif %} 
		{% endif %}

		{% if data.seo.description %}
			<meta name="Description" content="{{data.seo.description}}"/>
			<meta itemprop="description" content="{{data.seo.description}}"/>
			<meta property="og:description" content="{{data.seo.description}}" />
			<meta name="twitter:description" content="{{data.seo.description}}" />
		{% endif %} 

		{% if data.seo.title %}
			<meta name="title" content="{{data.seo.title}}"/>
			<meta property="og:title" content="{{data.seo.title}}" />
			<meta name="twitter:title" content="{{data.seo.title}}"/>
		{% endif %} 

		{% if data.seo.keywords %}
			<meta name="Keywords" content="{{data.seo.keywords}}">
		{% endif %} 

                       
			<meta itemprop="name" content="">
			
		    <meta property="og:url" content="" />
		    <meta property="og:site_name" content="" />
		    



		    <meta property="og:type" content="article">
		    <meta name="twitter:site" content="@theratenews">
		    <meta name="twitter:creator" content="@theratenews">
		    
		    
		    		
		<meta http-equiv="Cache-Control" content="no-cache">

		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
		<link href="https://fonts.googleapis.com/css?family=Racing+Sans+One" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">

		<link href={{ url_for('static', filename='css/jquery.bxslider.min.css') }} rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.prefix.css') }}>

		<div class = "main-container">
			<div class = "page-conatiner">
				<header class = "header">
					<a href = "/{{data.lang}}/">
						<div class = "logo header__logo">{{data.logo}}</div>
					</a>
					<div class = "change-lang header__change-lang">
						<a href = "/ru/" {% if (data.lang == 'ru') %} class = "active" {% endif %} >ru</a>
						<a href = "/en/" {% if (data.lang == 'en') %} class = "active" {% endif %}>en</a>
					</div>
					<div class = "curse header__curse" style = "display: none">
						<div>
							USD - 59,65
						</div>
						<div>
							EUR - 64,52
						</div>
					</div>
				</header>
		 		
		 		<div class = "page-conatiner__content_and_ads">
			 		<div class = "page-conatiner__content">
			 		<div class = "ads banner-horizontal-2">
			 			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<!-- horixontal-bar-for-1000-720 -->
						<ins class="adsbygoogle"
						     style="display:inline-block;width:728px;height:90px"
						     data-ad-client="ca-pub-4483317195565554"
						     data-ad-slot="5252500226"></ins>
						<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
			 		</div>


				 		{% block content %} {% endblock %}

				 		<div class="ads ads__mobile-block-580-400">
				 			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
							<!-- mobile-block-580-400 -->
							<ins class="adsbygoogle"
							     style="display:inline-block;width:580px;height:400px"
							     data-ad-client="ca-pub-4483317195565554"
							     data-ad-slot="2063531429"></ins>
							<script>
							(adsbygoogle = window.adsbygoogle || []).push({});
							</script>
				 		</div>

				 		<div class = "ads ads_mobile-horizontal-320">
				 			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
							<!-- mobile-horizontal-320 -->
							<ins class="adsbygoogle"
							     style="display:inline-block;width:320px;height:100px"
							     data-ad-client="ca-pub-4483317195565554"
							     data-ad-slot="7551661820"></ins>
							<script>
							(adsbygoogle = window.adsbygoogle || []).push({});
							</script>
				 		</div>

				 		<div class = "banner-horizontal">
				 			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
							<!-- horizontal-bar-1 -->
							<ins class="adsbygoogle"
							     style="display:inline-block;width:728px;height:90px"
							     data-ad-client="ca-pub-4483317195565554"
							     data-ad-slot="9267241822"></ins>
							<script>
							(adsbygoogle = window.adsbygoogle || []).push({});
							</script>
				 		</div> 

				 		<div class = "second-line">
				 			<div class = "second-line__cards cards">
				 				<div class = "ads_links-flex">
				 					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
									<!-- links_flex -->
									<ins class="adsbygoogle"
									     style="display:block"
									     data-ad-client="ca-pub-4483317195565554"
									     data-ad-slot="9028395028"
									     data-ad-format="link"></ins>
									<script>
									(adsbygoogle = window.adsbygoogle || []).push({});
									</script>
				 				</div>
				 				<div class = "second-line__additional_block ads">
						 			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
									<!-- additional-block-under-1300px -->
									<ins class="adsbygoogle"
									     style="display:inline-block;width:336px;height:280px"
									     data-ad-client="ca-pub-4483317195565554"
									     data-ad-slot="1380703820"></ins>
									<script>
									(adsbygoogle = window.adsbygoogle || []).push({});
									</script>
				 				</div>

				 				{% for item in data.second_line[:7] %}
				 				<a href = "/{{data.lang}}/i/{{item.id}}/" class = "card" style="background-image: url({{item.img}})">
				 					<div class = "card__title">
				 						<h3>{{item.title}}</h3>
				 					</div>
				 				</a>
				 				{% endfor %}
				 				<div class = "ads flex-block-mobile card">
				 					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
									<!-- second-line-flex-block -->
									<ins class="adsbygoogle"
									     style="display:block"
									     data-ad-client="ca-pub-4483317195565554"
									     data-ad-slot="5156598623"
									     data-ad-format="auto"></ins>
									<script>
									(adsbygoogle = window.adsbygoogle || []).push({});
									</script>
				 				</div>
				 				<div class = "ads mobile-block-320-240">
				 					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
									<!-- mobile-block-320-240 -->
									<ins class="adsbygoogle"
									     style="display:inline-block;width:320px;height:240px"
									     data-ad-client="ca-pub-4483317195565554"
									     data-ad-slot="2299033825"></ins>
									<script>
									(adsbygoogle = window.adsbygoogle || []).push({});
									</script>
				 				</div>
				 				<div class = "second-line__ads_block ads">
					 				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
									
									<!-- Card-1 -->
									<ins class="adsbygoogle"
									     style="display:inline-block;width:336px;height:280px"
									     data-ad-client="ca-pub-4483317195565554"
									     data-ad-slot="5419125025"></ins>
									<script>
									(adsbygoogle = window.adsbygoogle || []).push({});
									</script>
								</div>
				 				{% for item in data.second_line[7:] %}
				 				<a href = "/{{data.lang}}/i/{{item.id}}/" class = "card" style="background-image: url({{item.img}})">
				 					<div class = "card__title">
				 						<h3>{{item.title}}</h3>
				 					</div>
				 				</a>
				 				{% endfor %}

				 			</div>
				 		</div>

			 		</div>

			 		<div class = "page-conatiner__ads">
			 			<div class = "ads__container--1">
				 			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
							<!-- Skyscraper-main -->
							<ins class="adsbygoogle"
							     style="display:inline-block;width:300px;height:600px"
							     data-ad-client="ca-pub-4483317195565554"
							     data-ad-slot="9425679025"></ins>
							<script>
							(adsbygoogle = window.adsbygoogle || []).push({});
							</script>
						</div>
			 		</div>

			 	</div>

				<footer class = "footer"> 
					
				</footer>
			</div>
		</div>

<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter39959890 = new Ya.Metrika({ id:39959890, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/39959890" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
<script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
<script src="/static/js/jquery.bxslider.min.js"></script>
<script src="/static/js/slider.js"></script>
<script src="/static/js/ads_controll.js"></script>

